@using WebAppMVCLesson1.NewAdmin.Modals
@model List<TeamWork>

<h1>Teams</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>MiddleName</th>
            <th>LastName</th>
            <th>AboutWork</th>
            <th>CreateDate</th>
            <th>Autor</th>
            <th>LinkedIn</th>
            <th>Instagram</th>
            <th>FaceBook</th>
            <th>Status</th>
            <th>JobPosition</th>
            <th>Photo</th>

        </tr>
    </thead>
    <tbody>
        @foreach (TeamWork item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.MiddleName</td>
                <td>@item.LastName</td>
                <td>@item.AboutWork</td>
                <td>@string.Format("{0:dd.mm.yyyy}", item.CreatedDate)w</td>
                <td>@item.Autor</td>
                <td>@item.LinkedIn</td>
                <td>@item.Instagram</td>
                <td>@item.FaceBook</td>
                <td>
                    @if (item.Status)
                    {
                        <span>Active</span>
                    }
                    else
                    {
                        <span>InActive</span>
                    }
                </td>
                <td>
                    @if (string.IsNullOrEmpty(item.Photo))
                    {
                        <img src="@item.Photo" alt=""/>
                    }
                </td>
                <td>@item.jobPosition</td>

                <td>
                    <a asp-action="EditTeam"
                   asp-controller="Team"
                   asp-route-id="@item.Id">Редактировать</a>
                </td>
                <td>
                    <a asp-action="DeleteTeam"
                   asp-controller="Team"
                   asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr/>
<a asp-action="AddTeam" asp-controller="Team">Добавить</a>